.btn-flex {
  display: flex;
}
.botao {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 0px 10px;
  background: linear-gradient(var(--cor-p1), var(--cor-p5));
  border-radius: 8px;
  text-transform: uppercase;
  font: 600 1rem/1.35 Poppins, sans-serif;
  margin-right: 1rem;
  margin-top: 40px;
}
.botao:hover {
  background: var(--cor-p1);
}
.btn-secundario {
  background: inherit;
  border: 1px solid var(--cor-p1);
}
.btn-secundario:hover {
  background: #595681;
}
@media (max-width: 900px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .btn-flex {
    justify-content: space-between;
  }
}
