.header-bg {
  background: var(--cor-4);
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.btn-mobile {
  display: none;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-p1);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 0px;
  }
}

@media (max-width: 800px) {
  .header {
    padding-bottom: 20px;
  }

  .header-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    /* background: var(--cor-4); */
    background: rgba(0, 0, 0, 0.9);
    display: block;
    z-index: 1000;
    transition: 0.6s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  .header-menu a {
    width: 100%;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(1, 255, 214, 0.1);
  }
  #nav.active .header-menu {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }
  .btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    color: var(--cor-p1);
    width: 20px;
    border-top: 2px solid;
    display: block;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    width: 20px;
    height: 2px;
    background: currentColor;
    display: block;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 382px) {
  .logo {
    width: 200px;
  }
  .btn-mobile {
    padding: 0px;
  }
  .introducao-imagem {
    width: 250px;
  }
}
