/* INTRODUÇÂO CSS */
.introducao-bg {
  background: var(--cor-4);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 90px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.introducao h1 {
  /* margin-bottom: 40px; */
}
.introducao h1 {
  min-height: 250px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.introducao h1::after {
  content: "│";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
    min-height: 170px;
  }
  .introducao p {
    font-size: 18px;
  }
  .introducao {
    justify-items: center;
    padding-bottom: 10px;
    gap: 0px 30px;
  }
  .subtitulo {
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .introducao-bg {
    background: #000b09;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-imagem {
    grid-row: 1;
    max-width: 350px;
    padding-top: 0px;
  }

  .introducao h1 {
    font-size: 32px;
    min-height: 40px;
  }
}
@media (max-width: 752px) {
  .introducao h1 {
    min-height: 96px;
  }
}
@media (max-width: 410px) {
  .introducao h1 {
    min-height: 130px;
  }
}
@media (max-width: 382px) {
  .introducao h1 {
    font-size: 1.5rem;
    min-height: 4.5rem;
  }
  .introducao-conteudo {
    padding-bottom: 2rem;
  }
  .btn-flex {
    flex-wrap: wrap;
  }
  .botao {
    padding: 7px 7px;
    font-size: 1rem;
    margin: 5px;
    margin-top: 1rem;
  }
  .introducao p {
    margin-top: 1rem;
  }
}
