.portfolio-bg {
  background: var(--cor-3);
  position: relative;
}
.portfolio {
  padding-top: 80px;
  padding-bottom: 40px;
}
.sites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 80px;
}
.sites-desc {
  padding: 16px;
  font: 400 1rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
}

.item-grid.port img {
  border-radius: 8px;
  transition: all 0.3s;
}
.item-grid.port img:hover {
  transform: scale(1.05);
}
.portfolio-bg::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #00ffd6 2.39%, #1cb39a 88.91%);
  position: absolute;
}
@media (max-width: 1200px) {
  .sites {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .sites {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 382px) {
  .portfolio {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sites {
    padding-top: 1rem;
  }
  .sites-desc {
    font-size: 0.9rem;
  }
  .portfolio-conteudo h1 {
    font-size: 1.3rem;
  }
}
