/* INTRODUÇÂO CSS */
.sobre-bg {
  background: var(--cor-3);
}
.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

@media (max-width: 1200px) {
  .sobre h1 {
    font-size: 48px;
    text-align: center;
  }
  .sobre p {
    font-size: 18px;
  }
  .sobre {
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .sobre-bg {
    background: var(--cor-3);
  }
  .sobre {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .sobre-imagem {
    max-width: 350px;
    padding-top: 40px;
  }
  .sobre h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
